<div class="row">
        <section class="main col-md-9">
          <article>
            <h2>About</h2>
            <p>
              My name is Tina Danesh Maslak. I have a bachelor degree in biology
              and I am currently studying computer programming in Seneca
              College. This program hasn't been easy for me so far, but I am
              truly enjoying to learn how deep and complicated the technology
              world is and how challenging it can be.
            </p>
            <p>
              I am in my third semester and now, I have found out that I would
              like to continue my career pathway in dealing with JavaScript, Css
              and HTML or so collaed front-end developing. The thing that I am
              sure of, is that I am not going to do anything related to c or
              c++!!
            </p>
            <p>
              I don't have much free time in this semester. Though in weekends,
              when I'm done with my assignments and studying, I usually go for
              swimming. Other than that, whenever I get a chance, I watch movies
              and TV shows. My favourite ones, are the ones which are based on
              true stories. Also, I do yoga everynight which makes me relaxed
              and prepared for the next day.
            </p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Just wait for it, it's big...😉</p>
        </aside>
      </div>
    </div>